.header{
    height: 70px;
    width: 100%;
    background-color: #4fcbfc;
    box-sizing: border-box;
}

.header_logo{
    display: inline-block;
    padding: 8px 0 0 0;
    margin-left: 10%;
    height: 60px;
    width: auto;
}