.login_form_container{
    box-sizing: border-box;
    margin-right: 15%;
    height: 50px;
    float: right;
    margin-top: 20px;
}

.login_form_username, .login_form_password{
    margin-right: 10px;
    display: inline-block;
    height: 34px;
    width: 190px;
}

.login_form_forgotten_password{
    color: #000;
    padding: 0;
    margin: 0;
    font-size: 60%;
    cursor: pointer;
    position: relative;
}