.login_container{
    box-sizing: border-box;
    margin-right: 15%;
    height: 60px;
    float: right;
    margin-top: 10px;
}

.login_username, .login_password{
    margin-right: 10px;
    display: inline-block;
    height: 34px;
    width: 180px;
}

.forgotten_password{
    color: #000;
    padding: 0;
    margin: 0;
    font-size: 60%;
    cursor: pointer;
    padding: 4px;
    position: relative;
}