.login_container{
    margin: 8px 256px 8px 0px; /*top right bottom left */
    height: 68px;
    width: 512px;
    box-shadow: 0 2px 2px #ccc;
    background-color: brown;
    float:right;
}

.login_container p {
    margin:0px;
    border:0px;
    padding:0px;
    font-size: 12px;
}

.login_username{
    display: inline-block;
    height: 32px;
    width: 160px;
    padding: 6px 16px;
}

.login_password{
    display: inline-block;
    height: 32px;
    width: 160px;
    padding: 6px 16px;
}

.forgotten_password{
    display: inline-block;
    padding: 4px;
    position: relative;
    left: 12px;
}