* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    background-color: #fff;
    color: #000;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    border: none;
    height: 20px;
    width: 150px;
    border-radius: 2px;
    box-shadow: 2px 1px 3px 0px #4fcbfc;
    padding-left: 8px;
}

button {
    border: inherit;
    border-radius: 15px;
    height: 24px;
    width: 70px;
    background-color: #fff0f0;
    box-shadow: 2px 1px 3px 0px #4fcbfc;
    font-size: 60%;
    font-weight: bold;
}
/* ------------------------------------------------*/
/* RESUSABLE COMPONENTS */
/* ------------------------------------------------*/

.row {
    max-width: 850px;
    margin: 0 auto 0 auto;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --------------- HEADINGS -------------- */

h1, h2, h3 {
    font-weight: 500;
}

h1 {
    margin: 0;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    margin: 0;
    font-size: 150%;
    word-spacing: 2px;
    letter-spacing: 1px;
}

h3 {
    margin: 0;
    font-size: 110%;
    margin-bottom: 15px;
}