.Signup {
    display: block;
    max-width: 750px;
    height: 100%;
    color: #46c4ff;
    text-align: center;
    align-items: center;
    margin: 70px auto;
}

.Signup h2 {
    padding: 10px;
}

.Signup p {
    padding: 30px 0;
    font-size: 90%;
    color: #444;
    letter-spacing: 0.8px;
    word-spacing: 3px;
}

.signup_buttons {
    font-size: 120%;
    font-weight: bold;
    display: inline-block;
    padding: 20px;
    color: #000;
}