.Signup{
    width:100%;
    height: 128px;
    position: absolute;
    bottom: 25%;
    text-align: center;
    align-items: center;
    margin:auto;
}

.signup_buttons{
    display: inline-block;
    height:64px;
    width: 128px;
    background-color: green;
    padding:24px;
    margin:8px;
}